<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llce.gmis.dao.UserDao">
 
 <!-- mapping -->
 <resultMap id="User_t" type="com.llce.gmis.entity.User">
 <id property="userId" column="user_id" jdbcType="INTEGER" />
 <result property="userName" column="user_name" jdbcType="VARCHAR" />
 <result property="passwordHash" column="pwd_hash" jdbcType="VARCHAR" />
 <result property="email" column="email" jdbcType="VARCHAR"/>
 <result property="passwordQuestion" column="pwd_question" jdbcType="VARCHAR"/>
 <result property="passwordAnswer" column="pwd_answer" jdbcType="VARCHAR" />
 <result property="createDate" column="create_date" jdbcType="DATE" />
 <result property="updateDate" column="update_date" jdbcType="DATE" />
 <result property="loginKey" column="login_key" jdbcType="VARCHAR" />
 <result property="lastLoginDate" column="last_login_date" jdbcType="DATE" />
 <result property="lastActivityDate" column="last_activity_date" jdbcType="DATE" />
 <result property="role" column="role" typeHandler="com.llce.gmis.utils.typeHandler.EnumRoleHandler"/>
 <result property="isDisabled" column="is_disabled" jdbcType="BIT" javaType="BOOLEAN"/>
 <result property="isDeleted" column="is_deleted" jdbcType="BIT" javaType="BOOLEAN"/>
 <result property="lastLoginAttemptDate" column="last_login_attempt_date" jdbcType="DATE" />
 <result property="loginAttemptionCount" column="login_attemption_count" jdbcType="INTEGER" />
 <result property="headPicB" column="head_pic_b" jdbcType="VARCHAR" />
 <result property="headPicS" column="head_pic_s" jdbcType="VARCHAR" />
 </resultMap>
 
 <sql id="columns">
 user_id,
 user_name,
 pwd_hash,
 email,
 pwd_question,
 pwd_answer,
 create_date,
 role,
 is_disabled,
 is_deleted,
 last_login_attempt,
 login_attemption,
 head_pic_b,
 head_pic_s
 </sql>
 
 
 <!-- 根据ID查询用户信息 -->
 <select id="queryUserByUserName" resultMap="User_t">
 SELECT
 <include refid="columns" />
 FROM
 t_user
 WHERE
 user_name = #{userName}
 </select>
 <!-- 
 <insert id="insertUser" parameterType="User">
 	insert into t_user(<include refid="columns" />)
 	values(
 	#{userId},
 	#{
 	
 	)
 </insert> -->
 
</mapper>